{% extends "futebola/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">Ranking Jogadores</div>
        <div class="panel-body" style="overflow-y: scroll; height: 400px; {% if lista_jogadores %} padding:0; {% else %} text-align: center; {% endif %}">
        {% if lista_jogadores %}
                <table class="table table-striped table-responsive" style="margin-bottom:0px;border:0;">
                    <thead>
                        <tr>
                            <th style="padding-left:2px;padding-right:2px;text-align:center;">#</th>
                            <th style="padding-left:2px;padding-right:2px;">Nome</th>
                            <th style="padding-left:2px;padding-right:2px;text-align:center;">Jgs</th>
                            <th style="padding-left:2px;padding-right:2px;text-align:center;">Vit</th>
                            <th style="padding-left:2px;padding-right:2px;text-align:center;">Emp</th>
                            <th style="padding-left:2px;padding-right:2px;text-align:center;">Der</th>
                            <th style="padding-left:2px;padding-right:2px;text-align:center;">Gls</th>
                            <th style="padding-left:2px;padding-right:2px;text-align:center;">Ass</th>
                            <th style="padding-left:3px;padding-right:3px;text-align:center;">Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogador in lista_jogadores %}
                        <tr>
                            <td style="padding-left:2px;padding-right:2px;text-align:center;">{{ forloop.counter }}º</td>
                            <td style="padding-left:2px;padding-right:2px;"><a href="{% url 'futebola:jogador' jogador.jogador_id %}">{{ jogador.nome }}</a></td>
                            <td style="padding-left:2px;padding-right:2px;text-align:center;">{{ jogador.jogos }}</td>
                            <td style="padding-left:2px;padding-right:2px;text-align:center;">{{ jogador.vitorias }}</td>
                            <td style="padding-left:2px;padding-right:2px;text-align:center;">{{ jogador.empates }}</td>
                            <td style="padding-left:2px;padding-right:2px;text-align:center;">{{ jogador.derrotas }}</td>
                            <td style="padding-left:2px;padding-right:2px;text-align:center;">{{ jogador.golos }}</td>
                            <td style="padding-left:2px;padding-right:2px;text-align:center;">{{ jogador.assistencias }}</td>
                            <td style="padding-left:3px;padding-right:3px;text-align:center;"><b>{{ jogador.pontuacao }}</b></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            Sem dados para mostrar!
        {% endif %}
        </div>
    </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">Últimos Jogos</div>
        <div class="panel-body">
        {% if lista_jogos %}
            {% for jogo in lista_jogos %}
                <a href="{% url 'futebola:jogo' jogo.jogo_id %}">{{ jogo }}</a><br>
            {% endfor %}
        {% else %}
            Sem dados para mostrar!
        {% endif %}
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">Próximos Jogos</div>
        <div class="panel-body">
        {% if lista_prox_jogos %}
            {% for jogo in lista_prox_jogos %}
                <a href="{% url 'futebola:jogo' jogo.jogo_id %}">{{ jogo }}</a><br>
            {% endfor %}
        {% else %}
            Sem dados para mostrar!
        {% endif %}
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">Mais Regular</div>
        <div class="panel-body">
        {% if lista_jog_mais_reg %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Jogos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogador in lista_jog_mais_reg %}
                        <tr>
                            <td>{{ jogador.nome }}</td>
                            <td>{{ jogador.jogos }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            Sem dados para mostrar!
        {% endif %}
        </div>
    </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">Clube Mais Representado</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Clube</th>
                        <th>Jogadores</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clube in lista_clubes %}
                    <tr>
                        {% for item in clube %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">Melhor Marcador</div>
        <div class="panel-body">
        {% if lista_jog_mais_reg %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Golos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogador in lista_jog_mais_gol %}
                        <tr>
                            <td>{{ jogador.nome }}</td>
                            <td>{{ jogador.golos }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            Sem dados para mostrar!
        {% endif %}
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">Mais Assistências</div>
        <div class="panel-body">
        {% if lista_jog_mais_reg %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Assis.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogador in lista_jog_mais_ass %}
                        <tr>
                            <td>{{ jogador.nome }}</td>
                            <td>{{ jogador.assistencias }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            Sem dados para mostrar!
        {% endif %}
        </div>
    </div>
</div>
<!--<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">Médias</div>
        <div class="panel-body" style="overflow-x: scroll;">
            <table class="table">
                <tr>
                    <td style="text-align: center;">
                        <span class="label label-success">Média de Idades</span><br>
                        {{ media_idades }}
                    </td>
                    <td style="text-align: center;">
                        <span class="label label-primary">Média de Golos/Jogo</span><br>
                        {{ media_golos_jogo }}
                    </td>
                    <td style="text-align: center;">
                        <span class="label label-warning">Média de Golos/Jogador</span><br>
                        {{ media_golos_jogador }}
                    </td>
                    <td style="text-align: center;">
                        <span class="label label-default">Média de Assist./Jogador</span><br>
                        {{ media_assist_jogador }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>-->
</div>
{% endblock %}