{% extends "futebola/layout.html" %}
{% load jogador_extras %}
{% block content %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
        <div class="panel-body">
        {% if jogador %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="6" style="text-align: left;"><h3 style="margin-top: 10px;">{{ jogador }}</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight: bold">Data de Nascimento:</td>
                            <td>{{ jogador.data_nascimento|date:"d-m-Y" }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Idade:</td>
                            <td>{{ jogador.idade }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Clube:</td>
                            <td>{{ jogador.clube_favorito }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Golos:</td>
                            <td>{{ jogador|golos:epoca_num }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Assistências:</td>
                            <td>{{ jogador|assistencias:epoca_num }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Jogos:</td>
                            <td>{{ jogador|jogos:epoca_num }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Vitórias:</td>
                            <td>{{ jogador|vitorias:epoca_num }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; text-transform: uppercase;">Pontuação:</td>
                            <td style="font-weight: bold; text-transform: uppercase;">{{ jogador|pontuacao:epoca_num }}</td>
                        </tr>
                    </tbody>
                </table>
        {% else %}
            Sem dados para mostrar!
        {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}