{% load static %}
{% load jogador_extras %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'futebola/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'futebola/css/custom.css' %}" />
    <script type="text/javascript" src="{% static 'futebola/js/jquery-3.2.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'futebola/js/custom.js' %}" ></script>
</head>
<body>
    <div class="container">
        <div class="page-header" style="padding-bottom: 50px;">
            <h2 style="margin-left: 20px;">Números da Época</h2>
            {% if epocas %}
                <select class="form-control" id="sel1" onchange="location = this.value;" style="float: right;display:inline;width:auto;">
                {% for epoca_item in epocas %}
                <option {% if epoca_item.numeracao_epoca == epoca.numeracao_epoca %} selected="selected" {% endif %} value="{% url 'futebola:numerosEpoca' epoca_item.numeracao_epoca %}">{{epoca_item}}</option>
                {% endfor %}
                </select>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Melhor Média de Golos por Jogo</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{ media_golos_jogador.nome }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ media_golos_jogador.valor }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Melhor Média de Assistências por Jogo</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{ media_assist_jogador.nome }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ media_assist_jogador.valor }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Maior Percentagem de Vitórias</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{ percent_vitorias_jogador.nome }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ percent_vitorias_jogador.valor }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Maior Percentagem de Derrotas</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{ percent_derrotas_jogador.nome }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ percent_derrotas_jogador.valor }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Maior Número de Jogos</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{ mais_jogos_jogador.nome }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ mais_jogos_jogador.jogos }} Jogos</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Mais Vitórias Consecutivas</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{ vit_consec_jogador.nome }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ vit_consec_jogador.valor }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>