{% extends "futebola/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Regras do Futebola</div>
            <div class="panel-body">
            <p>
            A duração das épocas é de 6 meses, sendo de janeiro a junho ou de julho a dezembro. 
            <br><br>
            Os <b>critérios de pontuação</b> são os seguintes: <br>
            <b>Vitória</b> - {{epoca.valor_vitoria}} Pts | <b>Empate</b> - {{epoca.valor_empate}} Pts | <b>Presença</b> - {{epoca.valor_participacao}} Pts | <b>Golo</b> - {{epoca.valor_golos}} Pts | <b>Assistência</b> - {{epoca.valor_assistencias}} Pts<br><br>

            Quem for o primeiro classificado no fim de uma época não paga o jantar de final de época, jantar que permite a ida de todos e qualquer jogador. <br><br>

            Os primeiros 10 classificados irão disputar no final de cada época um jogo denominado por "all-stars" que ocorre sempre antes de cada época. Caso algum jogador que esteja nos 10 primeiros não possa ir, é substituído pelo jogador na 11° posição e assim sucessivamente.<br><br>

            Os jogos são marcados com uma semana de antecedência e pede-se as confirmações na mesma altura, os 10 primeiros jogadores a confirmar presença no grupo do WhatsApp serão os que vão a jogo. <br><br>

            Caso algum jogador apresente mau comportamento num jogo, seja verbal ou físico, leva um aviso, caso se volte a repetir, ficará suspenso de 1 a 3 jogos, dependendo da gravidade do comportamento indevido. <br><br>

            Caso algum jogador se atrase sem motivo considerado plausível, será automaticamente suspenso por 1 jogo. <br><br>

            Caso haja jogadores com a mesma pontuação, o critério de desempate funciona da seguinte forma e ordem:<br>
            <p style="padding-left:2em;">
            1 - Golos marcados<br>
            2 - Assistências<br>
            3 - Maior número de jogos<br>
            4 - Maior número de jogos<br>
            5 - Maior número de vitórias<br>
            6 - Menor número de derrotas<br>
            </p>
            Se ainda assim houver igualdade em todos os critérios de desempate entre dois ou mais jogadores, os mesmos irão partilhar a mesma classificação, podendo haver no final da época dois campeões.
            <br><br>
            Qualquer dúvida ou sugestão deverá ser colocada no grupo do WhatsApp.
            </p>
            
            </div>
        </div>
    </div>
</div>
{% endblock %}