{% extends "futebola/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Regras do Futebola</div>
            <div class="panel-body">
            A duração das épocas é de 6 meses, sendo de janeiro a junho ou de julho a dezembro. 
            <br><br>
            Os <b>critérios de pontuação</b> são os seguintes: <br>
            <p style="padding-left:2em;">
            . <b>Vitória</b> : {{epoca.valor_vitoria}} Pts<br>
            . <b>Empate</b> : {{epoca.valor_empate}} Pts<br>
            . <b>Presença</b> : {{epoca.valor_participacao}} Pts<br>
            . <b>Golo</b> : {{epoca.valor_golos}} Pts<br>
            . <b>Assistência</b> : {{epoca.valor_assistencias}} Pts<br>
            </p>
						
            Os <b>critérios de penalização</b> são os seguintes: <br>
            <p style="padding-left:2em;">
						. <b>Desmarcar presença no dia do jogo</b> : -10 Pts<br>
            . <b>Desmarcar presença no dia anterior ao jogo</b> : -5 Pts<br>
            . <b>Atraso no dia de jogo</b> : -1 Pt por cada minuto de atraso<br>
            </p>
			
			Os jogos são marcados com uma semana de antecedência e pede-se as confirmações na mesma altura, os 10 primeiros jogadores a confirmar presença no grupo do WhatsApp serão os que vão a jogo. <br><br>

			As equipas para cada jogo são geradas com base num algoritmo que tem em conta os dados estatisticos dos jogadores em jogos passados. Desta forma conseguimos ter jogos equilibrados e equipas variadas ao longo da época.<br><br>
			
			Cada equipa terá sempre um capitão designado, este serve para resolver decisões duvidosas durante o jogo (faltas, foras, penaltis, etc) e para resolver situações onde são reportados golos e assistências a mais por um jogador ou equipa. A decisão dos capitães é para ser respeitada. Os capitães são designados pelo algoritmo do futebola com base no número de jogos realizados recentemente e um fator de rotatividade.<br><br>
			
			Cada jogador é responsável por reportar no final do jogo, pessoalmente ou via grupo do WhatsApp os seus golos e assistências. Deve apenas reportar os golos e assistências dos quais tem a certeza, em caso de dúvida contabiliza-se para menos e nunca para mais. <br><br>
			
			Caso algum jogador apresente mau comportamento num jogo, seja verbal ou físico, leva um aviso, e caso se volte a repetir, ficará suspenso de 1 a 3 jogos, dependendo da gravidade do comportamento indevido. <br><br>
			
			Os responsáveis por manter o site do futebola atualizado são o Márcio Martins e o Marco Martins. No caso de haver um jogo onde nenhum dos dois possa estar presente, cabe aos capitães reportarem o resultado do jogo e quaisquer incidências que possam ter ocorrido. <br><br>

            Caso haja jogadores com a mesma pontuação, o critério de desempate funciona da seguinte forma e ordem:<br>
            <p style="padding-left:2em;">
            1 - Golos marcados<br>
            2 - Assistências<br>
            3 - Maior número de jogos<br>
            4 - Maior número de vitórias<br>
            5 - Menor número de derrotas<br>
            </p>
			
            Se ainda assim houver igualdade em todos os critérios de desempate entre dois ou mais jogadores, os mesmos irão partilhar a mesma classificação, podendo haver no final da época dois campeões.
            <br><br>
			
			No final de cada época existirá um jogo "amigável" com as mesma regras anterioremente definidas mas que não contará para qualquer classificação nem será registado no futebola.<br><br>
			
            Apelamos ao bom senso e sentido de fair play de todos os envolvidos para que nos possamos divertir todas as semanas e não haver chatices. No final jogamos a feijões e apenas para manter a forma. Qualquer dúvida ou sugestão deverá ser colocada no grupo do WhatsApp.
            
            </div>
        </div>
    </div>
</div>
{% endblock %}