{% extends "futebola/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Equipas Geradas</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6" style="padding-right: 0px;">
                        {% if equipa1 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="6" style="text-align: center;">
                                        <h3 style="margin-top: 10px;">Equipa A</h3>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Jogador</th>
                                    <th style="text-align: center;">Nota</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for jogador in equipa1 %}
                                <tr>
                                    <td>
                                        <a href="{% url 'futebola:jogador' jogador.jogador_id %}">
                                            {{ jogador }}
                                        </a>
                                    </td>
                                    <td style="text-align: center;">{{ jogador.nota_final }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td><b>
                                            TOTAL
                                        </b></td>
                                    <td style="text-align: center;"><b>
                                            {{ somae1 }}
                                        </b></td>
                                </tr>
                            </tbody>
                        </table>
                        {% else %}
                        Sem dados para mostrar!
                        {% endif %}
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px;">
                        {% if equipa2 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="6" style="text-align: center;">
                                        <h3 style="margin-top: 10px;">Equipa B</h3>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">Nota</th>
                                    <th style="text-align: right;">Jogador</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for jogador in equipa2 %}
                                <tr>
                                    <td style="text-align: center;">{{ jogador.nota_final }}</td>
                                    <td style="text-align: right;">
                                        <a href="{% url 'futebola:jogador' jogador.jogador_id %}">
                                            {{ jogador }}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td style="text-align: center;"><b>
                                            {{ somae2 }}
                                        </b></td>
                                    <td style="text-align: right;"><b>
                                            TOTAL
                                        </b></td>
                                </tr>
                            </tbody>
                        </table>
                        {% else %}
                        Sem dados para mostrar!
                        {% endif %}
                    </div>
                </div>
                <div id="back" class="btn btn-default">Voltar</div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}